.grid{
    display: grid;
    grid-template-columns: 15% auto;
    gap: 0.5rem;
}

.grid > * {
    border: 2px solid black;
    border-radius: 4px;
}

aside{
    border-style: none !important;
}

article{
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

img{
    width: 100%;
}

h1, h2, h3, footer p{
    text-align: center;
}